<h2>Name: <%=@dog.name%></h2>
<h3>Age: <%=@dog.age%></h3>
<h3>Breed: <%=@dog.breed%></h3>


<h3>Employees: 

<%@dog.employees.each do |employee|%>
   <li> <%= link_to employee.full_name, employee_path(employee.id) %></li>
<% end %>